---
// Giscus comments component
// Uses GitHub Discussions for blog post comments
---

<div class="giscus-wrapper mt-12 pt-8 border-t border-skin-line">
  <script
    src="https://giscus.app/client.js"
    data-repo="lovio/thoughts"
    data-repo-id="R_kgDOJTdCvA"
    data-category="Announcements"
    data-category-id="DIC_kwDOJTdCvM4CwPds"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="en"
    crossorigin="anonymous"
    async></script>
</div>

<style>
  .giscus-wrapper {
    @apply mx-auto max-w-3xl px-4;
  }
</style>
